
.icon-graph:before { content: '\e800'; } /* '' */
.icon-filter:before { content: '\e801'; } /* '' */
.icon-__7:before { content: '\e802'; } /* '' */
.icon-__3:before { content: '\e803'; } /* '' */
.icon-__4:before { content: '\e804'; } /* '' */
.icon-setting:before { content: '\e805'; } /* '' */
.icon-__5:before { content: '\e806'; } /* '' */
.icon-activity:before { content: '\e807'; } /* '' */
